<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Jquery CDN</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
</head>
<body>
  jQuery CDN

<form id="frmSave" class="frmSave" name="frmSave" method="POST" action="html03.html">
    title
    <input type="text" id="title" class="title" name="title" value="">
    content
    <input type="text" id="content" class="content" name="content" value="">

    <button id="btnSave" type="submit"> 등록 </button>

</form>

</body>

<script>
    $(document).ready(function (){



    });

</script>

</html>